@font-face {
    font-family: cascadia mono;
    src:
        url(fonts/otf/CascadiaMono-Light.otf) format("opentype"),
        url(fonts/ttf/CascadiaMono-Light.ttf) format("truetype"),
        url(fonts/woff2/CascadiaMono-Light.woff2) format("woff2");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: pixel nes;
    src:
        url(fonts/otf/Pixel_NES.otf) format("opentype"),
        url(fonts/ttf/Pixel_NES.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: neon retro;
    src:
        url(fonts/otf/NeonRetro-Regular.otf) format("opentype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: minecraft;
    src:
        url(fonts/ttf/Minecraftia-Regular.ttf) format("truetype");
    font-weight: 200;
    font-style: normal;
}

:root {
    --body-text-shadow: 0 0 20px #ffffff4a, 0 0 20px #00ffab45;
    --green-text-shadow: 0 0 20px #08bd9882;
    --link-color: #2c9080;
    --firefox-body-shadow: 0 0 20px #ffffff31, 0 0 20px #00ffab45;
    --firefox-green-shadow: 0 0 20px #08bd994f;
}

html {
    position: relative;
    overflow: hidden;
}

body {
    overflow-x: hidden; 
    position: relative;
    margin: 0;
    background-color: #000;
    image-rendering: pixelated;
    background-image: url(assets/extended_bg_img.png);
    background-size: cover;
    background-position: center;
}

h2 {
    color: #5bab9e;
    font-family: pixel nes;
    margin: 0;
    text-shadow: var(--green-text-shadow);
    transition: .7s;
}

p {
    color: #fff;
    font-family: cascadia mono;
    font-size: 14px;
    image-rendering: pixelated;
    text-rendering: optimizeSpeed;
    text-rendering: geometricPrecision;
    text-shadow: var(--green-text-shadow);
    margin-right: 15px;
}

li {
    color: #fff;
    font-family: cascadia mono;
    font-size: 13px;
    image-rendering: pixelated;
    text-rendering: optimizeSpeed;
    text-rendering: geometricPrecision;
    text-shadow: var(--green-text-shadow); 
    margin-right: 15px;   
}

a {
    text-decoration: none;
    color: var(--link-color);
    text-shadow: var(--green-text-shadow);
    transition: .7s;
}
a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    color: white;
    font-family: cascadia mono;
}

#bg {
    z-index: -999;
    background-size: cover;
    image-rendering: pixelated;
    background-color: #000;
    width: 100%;
    position: absolute;
}

.marquee {
    width: 100%;
    grid-column-gap: 1rem;
    margin-bottom: 1rem;
    display: flex;
    overflow: hidden;
}
.marquee-content {
    min-width: 100%;
    grid-column-gap: 1rem;
    flex-shrink: 0;
    flex: none;
    justify-content: space-around;
    display: flex;
}
.scroll {
    animation: scroll 40s linear infinite;
}
@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-50% - 1rem));
    }
}

#logo {
    font-family: neon retro;
    font-size: 70px;
    color: var(--link-color);
    height: 85px;
    text-align: center;
    background-color: #000000a8;
}

#banner {
    image-rendering: initial;
    margin-left: 8px;
    margin-top: 15px;
    margin-bottom: 13px;
    width: 630px;
    height: 70px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    animation: slide 60s infinite;
}
@keyframes slide {
    0% {background-image: url(assets/cyberpunk-2077.gif);}
    33% {background-image: url(assets/vhs.gif);}
    66% {background-image: url(assets/asda.gif);}
    100% {background-image: url(assets/bladerunner.gif);}
}

.static-overlay {
    position: absolute;
    inset: -200%;
    background-image: url(assets/overlay2.png);
    background-size: auto;
    background-repeat: repeat;
    opacity: 20%;
    z-index: 1000;
    pointer-events: none;
    animation: shift .8s reverse linear infinite;
}
@keyframes shift {
    0% {
        transform: translateY(4px);
    }
    100% {
        transform: translateY(-4px);
    }
}

#container {
    width: 900px;
    position: relative;
    overflow: hidden;
    display: flex;
    text-align: justify;
    margin: 0 auto;
    padding-top: 10px;
}

@media screen and (max-width:601px) {
    @supports(-moz-appearance:none) {
        body {
            text-shadow:var(--firefox-body-shadow)!important
        }
        h2 {
            text-shadow:var(--firefox-green-shadow)!important
        }
        a {
            text-shadow:var(--firefox-green-shadow)!important
        }
    }

    html {
        position: relative;
    }

    body {
        overflow-x: hidden;
        position: static;
        width: 900px;
    }
    
    #container {
        width: 900px;
        display: flex;
        text-align: justify;
        margin: 0 auto;
        padding-top: 10px;
    }

    .static-overlay {
        position: relative;
        display: none;
    }

    #bg {
        width: 900px;
    }

    .marquee {
        width: 900px;
    }

    #logo {
        width: 900px;
    }
}
@keyframes Static {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 4px;
    }
}

#logosmall {
    font-family: pixel nes;
    font-size: 30px;
    color: white;
    padding-top: 1.5rem;
}

#maintd {
    width: 75%;
    vertical-align: baseline;
}

#menutd {
    width: 25%;
    vertical-align: baseline;
}

#chaewon {
    display: inline;
    image-rendering: pixelated;
    text-rendering: optimizeSpeed;
    text-rendering: geometricPrecision;
}

#work-box {
    font-family: cascadia mono;
    font-size: 13px;
}

.box {
    position: relative;
    background-color: #000000a8;
    border: 2px solid #383838;
    border-radius: 4px;
    color: #fff;
    padding: 10px 15px;
    margin: 5px;
}

.centerbox {
    text-align: center;
}

.navlink {
    color: #fff;
    display: inline-block;
    margin-bottom: 3px;
    font-family: cascadia mono;
    font-size: 14px;
    image-rendering: pixelated;
    text-rendering: optimizeSpeed;
    text-rendering: geometricPrecision;
    text-shadow: var(--green-text-shadow);
}

#mudkip {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

#jeffpfp {
    float: left;
    margin: 10px 10px 5px 5px;
    width: 100px;
    height: 100px;
}

