@font-face {
    font-family: cascadia code;
    src:
        url(fonts/otf/CascadiaCode-Light.otf) format("opentype"),
        url(fonts/ttf/CascadiaCode-Light.ttf) format("truetype"),
        url(fonts/woff2/CascadiaCode-Light.woff2) format("woff2");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: pixel nes;
    src:
        url(fonts/otf/Pixel_NES.otf) format("opentype"),
        url(fonts/ttf/Pixel_NES.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

:root {
    --body-text-shadow: 0 0 20px #ffffff4a, 0 0 20px #00ffab45;
    --green-text-shadow: 0 0 20px #08bd9882;
    --link-color: #2c9080;
    --firefox-body-shadow: 0 0 20px #ffffff31, 0 0 20px #00ffab45;
    --firefox-green-shadow: 0 0 20px #08bd994f;
}

body {
    overflow-x: hidden;
    margin: 0;
    background-color: #000;
    image-rendering: pixelated;
}

h2 {
    color:var(--link-color);
    font-family: pixel nes;
    margin: 0;
    text-shadow: var(--green-text-shadow);
    transition: .7s;
}

p {
    color: #fff;
    font-family: cascadia code;
    font-size: 14px;
    image-rendering: pixelated;
    text-rendering: optimizeSpeed;
    text-rendering: geometricPrecision;
    text-shadow: var(--green-text-shadow);
}

a {
    text-decoration: none;
    color: var(--link-color);
    text-shadow: var(--green-text-shadow);
    transition: .7s;
}
a:hover {
    text-decoration: underline;
}

@media screen and (min-width:601px) {
    @supports(-mox-appearance:none) {
        body {
            text-shadow:var(--firefox-body-shadow)!important
        }
        h2 {
            text-shadow:var(--firefox-green-shadow)!important
        }
        a {
            text-shadow:var(--firefox-green-shadow)!important
        }
    }
    body:before {
        content: "";
        position: fixed;
        opacity: .2;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: 1000;
        background-image: url(assets/overlay.png);
        background-position: 0 0;
        animation-name: Static;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: steps(4);
        box-shadow: inset 0 0 10em rgb(0 0 0/40%)
    }
    body:after {
        content: "";
        position: fixed;
        opacity: .2;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: 1000;
        background-image: url(assets/overlay2.png);
        background-repeat: all;
        background-position: 0 0;
        animation-name: Static;
        animation-duration: .8s;
        animation-iteration-count: infinite;
        animation-timing-function: steps(4);
    }
}
@keyframes Static {
    0% {
        background-position: 0 0
    }
    100% {
        background-position: 0 4px
    }
}

#bg {
    z-index: -999;
    background-size: cover;
    image-rendering: pixelated;
    background-color: #000;
    width: 100%;
    position: absolute;
}

#container {
    width: 900px;
    margin: 0 auto;
}

#logo {
    text-align: center;
    padding-top: 10px;
    margin-right: 50px;
}

#maintd {
    width: 675px;
    vertical-align: baseline;
}

#menutd {
    width: 225px;
    vertical-align: baseline;
}

.box {
    background-color: #000000a8;
    border: 2px solid #383838;
    border-radius: 4px;
    color: #fff;
    padding: 10px 15px;
    margin: 5px;
}

.navlink {
    color: #fff;
    display: inline-block;
    margin-bottom: 3px;
    font-family: cascadia code;
    font-size: 14px;
    image-rendering: pixelated;
    text-rendering: optimizeSpeed;
    text-rendering: geometricPrecision;
    text-shadow: var(--green-text-shadow);
}

#mudkip {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

#jeffpfp {
    float: left;
    margin: 10px 10px 5px 5px;
    width: 100px;
    height: 100px;
}