#container {
    width: 900px;
    margin: 0 auto;
}

#maintd {
    width: 675px;
    vertical-align: baseline;
}

#menutd {
    width: 225px;
    vertical-align: baseline;
}

.box {
    border: 2px solid #383838;
    border-radius: 4px;
    padding: 10px 15px;
    margin: 5px;
}